In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
roll = pd.read_csv("7_Day_Rolling_Window.csv",index_col = "Unnamed: 0")
schedule = pd.read_csv("Up_To_Today.csv",index_col = "Unnamed: 0")

In [3]:
roll.head()

,Date,Team,IP_Pitch,H_Pitch,R_Pitch,ER_Pitch,BB_Pitch,SO_Pitch,HR_Pitch,HBP_Pitch,...,BB_Bat,IBB_Bat,SO_Bat,HBP_Bat,SH_Bat,SF_Bat,GDP_Bat,SB_Bat,CS_Bat,Games
0,2022-04-15,CIN,51.00,61.0,38.0,38.0,25.0,50.0,9.0,5.0,...,17,0,52,3,0,1,3,3,1,6
0,2022-04-15,CHN,43.00,33.0,14.0,14.0,17.0,41.0,5.0,2.0,...,20,0,43,4,0,1,8,1,2,5
0,2022-04-15,ATL,62.00,63.0,43.0,38.0,24.0,58.0,6.0,4.0,...,28,0,58,4,0,3,5,0,1,7
0,2022-04-15,HOU,44.33,36.0,13.0,9.0,20.0,45.0,4.0,3.0,...,19,2,29,1,0,2,4,3,1,5
0,2022-04-15,PHI,62.00,45.0,30.0,28.0,21.0,63.0,7.0,7.0,...,24,0,60,3,1,3,6,1,0,7

In [4]:
date = roll.iloc[0]['Date']
team = roll.iloc[0]['Team']

In [5]:
df = schedule[schedule['Date'] == date]
team_df = df[df['Visitor'] == team]
temp = roll[roll['Date'] == date]
temp_team = temp[temp['Team'] == team]
temp_team.drop(columns = ['Team','Date'],inplace=True)
temp_team = temp_team.add_suffix("_Visitor")
home_team = temp[temp['Team'] == team_df['Home'][0]]
home_team.drop(columns = ['Team','Date'],inplace=True)
home_team = temp_team.add_suffix("_Home")
concat_df = pd.concat([team_df,temp_team],axis=1)
concat_df = pd.concat([concat_df,home_team],axis=1)
concat_df

,Visitor,V_Score,Home,H_Score,Date,IP_Pitch_Visitor,H_Pitch_Visitor,R_Pitch_Visitor,ER_Pitch_Visitor,BB_Pitch_Visitor,...,BB_Bat_Visitor_Home,IBB_Bat_Visitor_Home,SO_Bat_Visitor_Home,HBP_Bat_Visitor_Home,SH_Bat_Visitor_Home,SF_Bat_Visitor_Home,GDP_Bat_Visitor_Home,SB_Bat_Visitor_Home,CS_Bat_Visitor_Home,Games_Visitor_Home
0,CIN,1,LAN,3,2022-04-15,51.0,61.0,38.0,38.0,25.0,...,17,0,52,3,0,1,3,3,1,6

In [ ]:
total_df = pd.DataFrame()
for date in roll['Date'].unique():
    for visit in schedule[schedule['Date'] == date]['Visitor']:
        day = schedule[schedule['Date'] == date]
        temp = roll[roll['Date'] == date]
        temp_team = temp[temp['Team'] == visit]
        temp_team.drop(columns = ['Team','Date'],inplace=True)
        temp_team = temp_team.add_suffix("_Visitor")
        home = day[day['Visitor'] == visit]
        home_team = temp[temp['Team'] == home.iloc[0]['Home']]
        home_team.drop(columns = ['Team','Date'],inplace=True)
        home_team = home_team.add_suffix("_Home")
        concat_df = pd.concat([home,temp_team],axis=1)
        concat_df = pd.concat([concat_df,home_team],axis=1)
        total_df = pd.concat([total_df,concat_df])
wl = []
for x in range(len(total_df)):
    if total_df.iloc[x]['H_Score'] > total_df.iloc[x]['V_Score']:
        wl.append(1)
    else:
        wl.append(0)
total_df['Home_Win'] = wl
total_df.drop(columns = ['V_Score','H_Score'],inplace=True)
total_df.drop_duplicates(inplace=True)
total_df = total_df[total_df['Games_Visitor'] > 4]
total_df = total_df[total_df['Games_Home'] > 4]
total_df

In [ ]:
total_df.tail()