In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [25]:
bat = pd.read_csv("7_Day_Window_Bat.csv",index_col = "Unnamed: 0")
pitch = pd.read_csv("7_Day_Window_Pitch.csv",index_col = "Unnamed: 0")
pitch.head()

,GS,IP,H,R,ER,BB,SO,HR,HBP,AB,...,IBB,GDP,SF,SB,CS,PO,BF,Date,Team,Home_Away
0,7.0,58.5,67.0,38.0,37.0,34.0,60.0,7.0,7.0,240.0,...,0.0,4.0,0.0,3.0,2.0,0.0,282.0,2022-04-13,WSN,1
0,6.0,47.8,51.0,32.0,31.0,27.0,56.0,9.0,5.0,198.0,...,0.0,2.0,4.0,2.0,3.0,0.0,234.0,2022-04-13,CIN,1
0,6.0,49.6,40.0,14.0,10.0,21.0,52.0,4.0,4.0,192.0,...,0.0,3.0,1.0,2.0,2.0,0.0,222.0,2022-04-13,HOU,1
0,5.0,40.5,33.0,16.0,16.0,17.0,43.0,5.0,3.0,155.0,...,0.0,6.0,2.0,2.0,0.0,1.0,177.0,2022-04-13,CHN,1
0,6.0,50.5,39.0,25.0,24.0,20.0,48.0,11.0,1.0,199.0,...,2.0,3.0,0.0,3.0,1.0,0.0,220.0,2022-04-12,LAA,1

In [26]:
bat.head()

,PA,AB,R,H,2B,3B,HR,RBI,BB,IBB,SO,HBP,SH,SF,GDP,SB,CS,Date,Team,Home_Away
0,221,193,18,41,13,1,3,17,23,0,46,3,0,2,8,2,2,2022-04-13,MIL,0
0,184,169,18,44,9,1,3,16,14,0,42,0,0,1,5,1,1,2022-04-13,PIT,0
0,231,206,24,45,10,0,9,23,22,3,39,1,0,2,4,4,1,2022-04-13,HOU,0
0,219,179,15,25,4,0,5,14,33,0,54,4,2,1,4,3,0,2022-04-13,ARI,0
0,179,163,19,34,5,0,4,18,12,0,28,3,1,0,4,5,1,2022-04-12,KCR,0

In [27]:
total = pd.concat([bat.drop_duplicates().sort_values(["Team","Date"]).add_suffix("_Bat"),pitch.drop_duplicates().sort_values(["Team","Date"]).add_suffix("_Pitch")],axis=1)
total.head()

,PA_Bat,AB_Bat,R_Bat,H_Bat,2B_Bat,3B_Bat,HR_Bat,RBI_Bat,BB_Bat,IBB_Bat,...,IBB_Pitch,GDP_Pitch,SF_Pitch,SB_Pitch,CS_Pitch,PO_Pitch,BF_Pitch,Date_Pitch,Team_Pitch,Home_Away_Pitch
0,219,179,15,25,4,0,5,14,33,0,...,2.0,6.0,5.0,3.0,3.0,0.0,235.0,2022-04-13,ARI,1
0,185,153,11,22,4,0,4,11,26,0,...,2.0,4.0,5.0,2.0,3.0,0.0,199.0,2022-04-13,ARI,1
0,190,153,14,23,6,0,5,14,30,0,...,1.0,3.0,7.0,4.0,2.0,0.0,202.0,2022-04-15,ARI,0
0,197,158,15,27,6,0,5,15,32,2,...,1.0,3.0,6.0,3.0,1.0,0.0,197.0,2022-04-16,ARI,1
0,194,160,10,27,7,0,3,10,27,2,...,1.0,3.0,5.0,5.0,1.0,0.0,190.0,2022-04-17,ARI,0

In [28]:
bat.sort_values(["Team","Date"])

,PA,AB,R,H,2B,3B,HR,RBI,BB,IBB,SO,HBP,SH,SF,GDP,SB,CS,Date,Team,Home_Away
0,219,179,15,25,4,0,5,14,33,0,54,4,2,1,4,3,0,2022-04-13,ARI,0
0,185,153,11,22,4,0,4,11,26,0,48,3,2,1,3,3,0,2022-04-13,ARI,0
0,190,153,14,23,6,0,5,14,30,0,51,4,2,1,3,3,1,2022-04-15,ARI,0
0,197,158,15,27,6,0,5,15,32,2,57,4,2,1,2,5,1,2022-04-16,ARI,1
0,194,160,10,27,7,0,3,10,27,2,57,4,2,1,0,4,1,2022-04-17,ARI,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,217,207,21,48,8,2,4,20,8,0,35,1,0,1,5,3,3,2023-06-15,WSN,1
0,222,213,24,54,12,2,5,23,6,0,35,1,0,2,4,1,2,2023-06-16,WSN,1
0,222,212,22,53,13,2,4,20,8,0,40,1,0,1,5,1,2,2023-06-17,WSN,1
0,220,210,18,52,14,2,3,16,8,0,43,1,0,1,6,1,2,2023-06-18,WSN,1
0,257,244,24,63,18,2,3,22,9,0,49,2,0,2,6,3,2,2023-06-19,WSN,1

In [29]:
pitch.drop_duplicates().sort_values(["Team","Date"])

,GS,IP,H,R,ER,BB,SO,HR,HBP,AB,...,IBB,GDP,SF,SB,CS,PO,BF,Date,Team,Home_Away
0,6.0,50.8,47.0,24.0,18.0,29.0,41.0,4.0,1.0,199.0,...,2.0,6.0,5.0,3.0,3.0,0.0,235.0,2022-04-13,ARI,1
0,5.0,43.2,43.0,22.0,16.0,22.0,36.0,4.0,1.0,170.0,...,2.0,4.0,5.0,2.0,3.0,0.0,199.0,2022-04-13,ARI,1
0,5.0,42.2,44.0,29.0,23.0,23.0,31.0,7.0,2.0,170.0,...,1.0,3.0,7.0,4.0,2.0,0.0,202.0,2022-04-15,ARI,0
0,5.0,41.5,39.0,26.0,21.0,22.0,33.0,8.0,3.0,166.0,...,1.0,3.0,6.0,3.0,1.0,0.0,197.0,2022-04-16,ARI,1
0,5.0,39.1,37.0,21.0,19.0,22.0,23.0,7.0,2.0,161.0,...,1.0,3.0,5.0,5.0,1.0,0.0,190.0,2022-04-17,ARI,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,6.0,49.8,47.0,23.0,21.0,19.0,48.0,9.0,1.0,197.0,...,0.0,2.0,1.0,6.0,1.0,2.0,218.0,2023-06-15,WSN,1
0,6.0,50.1,50.0,26.0,25.0,19.0,46.0,10.0,1.0,200.0,...,0.0,5.0,1.0,5.0,1.0,2.0,221.0,2023-06-16,WSN,0
0,6.0,51.8,51.0,25.0,24.0,23.0,45.0,8.0,1.0,203.0,...,1.0,7.0,1.0,4.0,1.0,2.0,228.0,2023-06-17,WSN,1
0,6.0,51.8,54.0,27.0,26.0,24.0,43.0,7.0,1.0,204.0,...,1.0,7.0,3.0,6.0,1.0,2.0,232.0,2023-06-18,WSN,0
0,7.0,60.8,65.0,35.0,34.0,28.0,52.0,9.0,2.0,240.0,...,1.0,8.0,3.0,6.0,1.0,2.0,273.0,2023-06-19,WSN,0

In [8]:
schedule = pd.read_csv("Previous_Games.csv",index_col = "Unnamed: 0")
schedule.head()

  Visitor  V_Score Home  H_Score        Date
0     HOU        3  LAA        1  2022-04-07
0     SDN        2  ARI        4  2022-04-07
0     CIN        6  ATL        3  2022-04-07
0     MIL        4  CHN        5  2022-04-07
0     CLE        1  KCR        3  2022-04-07

In [33]:
schedule.sort_values("Home")['Home'].unique()

array(['ARI', 'ATL', 'BAL', 'BOS', 'CHA', 'CHN', 'CIN', 'CLE', 'COL',
       'DET', 'HOU', 'KCR', 'LAA', 'LAN', 'MIA', 'MIL', 'MIN', 'NYA',
       'NYN', 'OAK', 'PHI', 'PIT', 'SDN', 'SEA', 'SFN', 'SLN', 'TBA',
       'TEX', 'TOR', 'WSN'], dtype=object)

In [39]:
schedule[['Home','Date']].iloc[0]

Home           LAA
Date    2022-04-07
Name: 0, dtype: object